# Configuración de la base de datos
DB_TYPE=sqlserver

# Configuración SQL Server Express
SQL_SERVER_HOST=host.docker.internal\instancia
SQL_SERVER_DATABASE=biti_db
SQL_SERVER_DRIVER='ODBC Driver 17 for SQL Server'
SQL_TRUSTED_CONNECTION=no

# Si usas autenticación SQL Server (dejar vacío para Windows Authentication)
SQL_SERVER_USER=
SQL_SERVER_PASSWORD=

# Clave API de Gemini
GEMINI_API_KEY=

# Configuración de la aplicación
ENVIRONMENT=development
DEBUG=True